{% extends 'base.html' %}
{% block body %}
<style>
    .img{
        width: 800px;
        height: 400px;
        border: 1px solid #000;
        margin: 10px 0;
    }
    .fill {
        object-fit: cover;
      }
      .pic{
        width:50px;
        height:50px;
        border-radius:50%;
      }
</style>
<div class='container'>
    <div class="row">
        {% if search %}
        {% for user in result %}
        <div class="col-md-2">
            {% if user.user_profile.profile_pic %}
            <img src='/media/{{user.user_profile.profile_pic}}' width='75px' height='75px' class='rounded-circle'>
            {% else %}
            <img src='/media/default/p.png' width='75px' height='75px' class='rounded-circle'>

            {% endif %}
        </div>
        <div class="col-md-10">
            <p>{{user.user_profile.full_name}}</p>
            <a href='{% url 'App_Login:other-user' username=user.username %}'>{{user.username}}</a>
        </div>
        {% endfor %}
        {% endif %}
       
    </div>
<div class="row w-70 m-auto">
    {% for post_other in posts %}
    <div class='col-md-12 border py-5 px-5'>
        {% if post_other.author.user_profile.profile_pic %}
        <div>
            <img src='/media/{{post_other.author.user_profile.profile_pic}}' class='pic'>
            <a href='{% url 'App_Login:other-user' username=post_other.author %}'>{{post_other.author}}</a>
        </div>
        {% else %}
           <div><img src='/media/default/p.png' class='pic'><a href='{% url 'App_Login:other-user' username=post_other.author %}'>{{post_other.author}}</a></div>
           
        {% endif %}
        
         
        <p>{{post_other.caption}}</p>
        <p>{{post_other.upload_date}}</p>
        <div class='im'>
            <img src="/media/{{post_other.post_img}}" class="img fill" alt="">
            {% if post_other.pk in liked_post_list %}
            <a href='{% url 'App_Post:unlike' pk=post_other.pk %}'><i class="fa fa-heart" style="font-size:36px"></i></a>
            {% else %}
            <a href='{% url 'App_Post:like' pk=post_other.pk %}'><i class="fa fa-heart-o" style="font-size:36px"></i></a>
            {% endif %}
            {{post_other.like_post.count}}
        </div>
       </div>
    {% endfor %}
</div>
</div>

{% endblock body %}